/* 
! 此版本，每个标题不够突出
 */
figureSkating {
  margin-left: 20%;
  margin-right: 20%;
  padding: 3.5%;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  /* border: 2px rgb(19, 85, 139) solid; */
  box-shadow: 0.03em 0.1em 0.1em 0.1em rgb(128, 127, 127);
  position: absolute;
  display: flex;
  border-radius: 8px;
  flex-direction: column;
  font-size: 30px;
}
mixedPair,
singleSki {
  margin: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
contestant {
  /* filter: blur(5px); */
  padding: 1em;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.118);
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.1em 0.1em 0.1em 0 rgb(128, 127, 127);
}
team {
  /* height: 100px; */
  margin: 20px;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.118);
  /* border: red solid 2px; */
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.1em 0.1em 0.1em 0 rgb(128, 127, 127);
}
image {
  display: none;
}
